@model CircleUI.ViewModels.Component.ComponentDetailsViewModel

@{
    ViewData["Title"] = "Delete Component";
}

<h1>Delete Component</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Component Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Content</dt>
        <dd class="col-sm-10">@Model.Content</dd>

        <dt class="col-sm-2">Layout</dt>
        <dd class="col-sm-10">@Model.Layout</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
